
alias irc='ssh sham@irc'

alias ll='ls -l'

alias tf='terraform'

alias st='git status'
alias add='git add'
alias commit='git commit -m '
alias master='git checkout master'
alias pull='git pull'
alias co='git checkout'

alias stock='/usr/local/bin/ticker W'
