


alias ll='ls -l'

alias tf='terraform'

alias st='git status'
alias add='git add'
alias commit='git commit -m '
alias master='git checkout master'
alias pull='git pull'
alias co='git checkout'

alias stock='/usr/local/bin/ticker W'


alias asource='/opt/homebrew/bin/SwitchAudioSource'
alias asrc='/opt/homebrew/bin/SwitchAudioSource'

source /Users/jamescoughlin/.functions

alias phones='aout $PHONES'
alias speakers='aout $MBASPEAKERS'

